<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" shape="round" class="ion-margin-top">Iniciar Sesión</ion-button>

    <div id="container" class="ion-margin-top">
      <strong>No tienes una cuenta?</strong>
      <p><a routerLink="/registration">Registrarse</a></p>
    </div>

    <div id="container">
      <strong>TOMAR FOTO</strong>
      <p><a routerLink="/home">Iniciar Cámara</a></p>
    </div>

  </div>
</ion-content>
