<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Password" type="password" value=""></ion-input>
</ion-item>

<ion-button id="button" shape="round">Iniciar Sesión</ion-button>

<p></p>

<div id="container">
  <strong>No tienes una cuenta?</strong>
  <p>Registrate  <a routerLink="/registration">Registrarse</a></p>
</div>
